extends layout

block content
  //h1= "Sala "+JSON.parse(salaIn).nombre
  h1= "Usuario "+user
  h2 Lista de Salas

    h2= fecha+">"+user+": "+msj

  form(name="input", action='/chat', method="post")
        div.input
            span.label Mensaje
            input(type="text", name="msj")
            input(type="hidden", name="sala", value=salaIn)
            input(type="hidden", name="nick", value=user)
            input(type="submit", value="Enviar")
