extends layout

block content
  h1= title

  form(name="login", method="post")
        div.input
            div.row
                div.col-xs-6
                    h2 Lista de Salas
                    each sala in salas
                        span.listaSalas=sala.nombre
                        input(type="radio", name="sala", value=JSON.stringify(sala.ID))
                        br

                div.col-xs-6
                    h2 Inicio de Sesión
                    input(type="text", id="user", name="user")
                    input(type="submit", value="Login").btn-primary





