extends layout

block content
  h1= title

  h2 Lista de Salas

  //ul
  //each sala in salas
    //li= "Sala "+sala.nombre + " con "+ sala.miembros.length + " miembros"

  h2 Inicio de Sesión
  form(name="login", method="post")
        div.input

            span.label
                b Elige Sala
            br

            each sala in salas
                span=sala.nombre
                input(type="radio", name="sala", value=JSON.stringify(sala.ID))
                br
            br
            span.label
                b Nombre de Usuario
            br
            input(type="text", name="nick")
            input(type="submit", value="Login")





