body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
    list-style: none;
}

.listaSalas {
    padding-right: 5px;
}

#chat {
    padding-left: 5px;
}
